body {
	overflow: hidden;
	margin: 0 auto;
	background-color: #000000;
}
.background {
	position: absolute;
	z-index: 1;
	padding-left: 7.30%;
}
button {
	background-image: url("../images/duck.gif");
	position: relative;
	z-index: 2;
	margin-left: 42%;
	height: 250px;
	width: 250px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline:none;
    cursor: pointer;
}